*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}


a{
    text-decoration: none;
    color: aqua;
    transition: 400ms;
}


a:hover{
    color: red;
}


p{
    color: blue;
}

h2{
    color: black;
}

div{
    padding-top: 50px;
    width: 600px;
    margin: auto;
    text-align: center;
}